
.background {
    background-image: url("PaperCo (1).png");
    background-repeat: repeat;
    height: 250vh;
    width: 100vw;
}

.logo {
    height: 6rem;
    width: 9rem;
}

.nav-text {
    font-size: x-large;
}

.title {
    color: rgb(72, 72, 72);
    padding: 3rem 5rem 3rem 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.title {
    text-align: center;
}

.title h1 {
    font-weight: bold;
    font-size: 5rem;
}

.title p {
    font-size: 1.3rem;
}

.notes-list p {
    font-size: 1.5rem;
}

.notes {
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    border-radius: 15px;
}



.lucid {
    width: 95%; 
    height: 90%;
    align-items: center;
}


.main-part {
    padding-top: 0;
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;

}


/* -------RESPONSIVE-------- */


@media screen and (max-width: 700px) {
    .background {
        height: 700px;
        width: 200px;
    }

    h1 {
        font-size: xx-large;
        text-align: center;
    }

    p {
        flex-wrap: nowrap;
    }
    
    .main-part {
        width: 90%;
    }

    .lucid {
        
        width: 100%;
    }
  }